
// * Layout customizations specific to this project should be made in this file.
// * Do not include classes for specific components here. This file should only
// * contain layout overrides to grids, rows, columns, containers, etc.


// General layout

body {
  background-color: $gold;
  margin: 0;

  .#{$title} {
    color: $black;
    font-family: $font-default;
    font-size: 100%;
    margin: 0 0 30px;

    section {
      margin: 0;
    }

    a {
      .more {
        color: $blue;
        display: block;
        float: right;
        font-size: 12px;
        font-weight: bold;
        margin: 20px 37px 0 0;
        text-decoration: none;
        text-transform: uppercase;
        &::after {
          content: ' \25B6';
          display: block;
          float: right;
          margin: -1px 0 0 7px;
          transform: scale(.5, .9);
        }
      }
      &:hover {
        text-decoration: none;
      }


      }



    footer {
      text-align: center;
    }

  }

}


// Tablet-specific layout
.tablet {

  .#{$title} {

    a {

      }

    &.more {
      margin: 14px 37px 0 0;
    }

  }

}

// Mobile-specific layout
.mobile {

  .#{$title} {

    a.more{
      margin: 12px 10px 0 0;
    }

  }

}
