
// General layout overrides

.#{$title} {
  .hero-wrapper {
    background-image: url('../../assets/img/springerMtn.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    height: auto;
    position: relative;
    width: 100%;
  }
  .hero {

    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .hero > h1 {
    margin: 0;
    padding: 0;
  }
}



// Tablet-specific layout overrides

.tablet {
  .#{$title} {

  }
}



// Mobile-specific layout overrides

.mobile {
  .#{$title} {

  }
}
